name: Check code quality

on:
  pull_request:
    paths:
      - '**'
      - '!.github/**'
      - '!README.md'
      - '!.gitignore'
      - '!LICENSE.txt'
  workflow_call:

jobs:
  check-code-quality:
    timeout-minutes: 20
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.node-version'
          cache: npm

      - run: |
          node --version
          npm --version

      - name: npm install
        run: npm ci --no-audit --no-fund

      - name: build
        run: npm run build

      - name: lint
        run: npm run lint

      - name: test
        run: |
          npm run test:ci
