name: Deploy to GAE

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!.env.example'
      - '!eslint.config.*'
      - '!.prettierrc.js'
      - '!appManifest.yaml'
      - '!.husky/**'
      - '!.github/**'
      - '!LICENSE.txt'
      - '!README.md'
      - '!renovate.json'

jobs:
  check-before-deploy:
    uses: ./.github/workflows/check-code-quality.yml

  deploy:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    needs:
      - check-before-deploy

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setting up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.node-version'
          cache: 'npm'

      - name: npm install
        run: npm ci

      - name: build app.yaml
        run: npm run generate:appYaml
        env:
          NODE_ENV: production
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          SLACK_SIGNING_SECRET: ${{ secrets.SLACK_SIGNING_SECRET }}
          SLACK_APP_LEVEL_TOKEN: ${{ secrets.SLACK_APP_LEVEL_TOKEN }}
          REMO_API_TOKEN: ${{ secrets.REMO_API_TOKEN }}
          STORAGE_TYPE: ${{ secrets.STORAGE_TYPE }}
          REDIS_URL: ${{ secrets.REDIS_URL }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}

      - id: auth
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093' # v3.0.0
        with:
          workload_identity_provider: 'projects/166962166615/locations/global/workloadIdentityPools/github-sota1235-bot-deploy/providers/github'
          service_account: 'sota1235-bot-gae-deploy@sandbox-4affa.iam.gserviceaccount.com'

      - id: deploy
        uses: 'google-github-actions/deploy-appengine@a343979004148afb93c94c712b467e8e9f01b06b' # v2.1.8

      - id: debug
        run: 'curl "${{ steps.deploy.outputs.url }}"'

      - name: Slack Notification
        if: success()
        uses: tokorom/action-slack-incoming-webhook@main
        env:
          INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          ACTIONS_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        with:
          text: "sota1235 Botがデプロイされました"
          attachments: |
            [
              {
                "color": "good",
                "author_name": "${{ github.actor }}",
                "author_icon": "${{ github.event.sender.avatar_url }}",
                "fields": [
                  {
                    "title": "Commit hash",
                    "value": "${{ github.sha }}",
                    "short": true
                  },
                  {
                    "title": "GitHub Actions URL",
                    "value": "${{ env.ACTIONS_URL }}"
                  }
                ]
              }
            ]
