name: Validating renovate config

on:
  pull_request:
    paths:
      - 'renovate.json'

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.node-version'
          cache: npm

      - run: |
          node --version
          npm --version

      - name: validating renovate config
        run: npx --package renovate -c 'renovate-config-validator'
